*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
    
}
body{
    background-color: rgb(243, 193, 193);
}
body .department{
    visibility: hidden;
}
body .semester{
    visibility: hidden;
}
body .table{
    visibility: hidden;
}
